#sayac span{
    display: inline-block;
    opacity: 0;
    animation: anime 1s ease-in-out 1;
}

@keyframes anime {
    0% {
     opacity: 0;
     filter: blur(10px);
     transform: scale(1.5);
    }
    50% {
        filter: blur(0px);

    }
    100% {
        opacity: 1;
        transform: scale(0.5);
    }
}

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    font-size: 10rem;
    height: 20hv;
}